:root {
  --primary-color: white;
  --secondary-color: #4169e1;
  --color-text: black;
  --navbar-color: white;
  --navbar-color-text: black;
}

* {
  font-family: "Poppins", sans-serif;
}

@media screen and (max-width: 992px) {
  .home-page .header-box {
    padding-top: 8rem;
  }
}
